@media (min-width: 320px) {
  #drum-machine {
    background-color: #808080;
    margin: 50px 0;
    padding: 20px;
  }
  #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    font-family: "Do Hyeon", sans-serif;
    font-size: 2rem;
    align-items: center;
    justify-items: center;
  }

  #display {
    width: 80%;
    height: 50px;
    margin: 50px auto 10px auto;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
    background-color: #000;
    border-radius: 10px;
  }
  #settings {
    width: 100%;
  }
  #record {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20px 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  #recLight {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .recOn {
    background-color: #ff0000;
  }
  .recOff {
    background-color: #fff;
  }
  .drum-pad {
    height: 90px;
    width: 90px;
    border-radius: 10px;
  }
}
@media (min-width: 600px) {
  #drum-machine {
    width: 60%;
    margin: 50px auto;
  }
}
@media (min-width: 1024px) {
  #drum-machine {
    margin: 150px auto;
    padding: 30px;
    width: 50%;
    display: flex;
    border: solid 8px #000;
  }
  #display {
    width: 40%;
    margin: 0 auto 10px auto;
  }
}
